body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/bg.jpg);

}

canvas {
    width: 70%;
    height: 80%;
}